#main
  =form_for empty_product, :method => patch  do |f|
  
  =f.text_field :name
  =f.text_field :description
  =f.number_field :price
  =f.number_field :minimum_age_appropriate
  =f.number_field :maximum_age_appropriate

  =f.submit
